# Tex auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk

# acronyms
*.acn
*.acr
*.slg
*.slo
*.sls
*.ist

# Algorithms
*.alg


# pdf file
*.pdf

# Pdfa format
pdfa.xmpi
